BODY {
margin: 0px; 
padding: 0px;
background: url('page-bg.jpg') #364042 center top repeat-x;
color: aliceblue;
text-align: center;
} 

A:link {background: none; color: #98E4DA; text-decoration: none; cursor: pointer;}
A:visited {background: none; color: #98E4DA; text-decoration: none; cursor: pointer;}
A:hover {background: none; color: #98E4DA; text-decoration: none; cursor: pointer;}
A:active { background: none; color: #98E4DA; background: none; cursor: pointer;}

.Global {
width: 760px;
height: 100%;
margin-left: auto;
margin-right: auto;
background: url('temp-header-bg.jpg') #181D1C center top no-repeat;
}

.Global TD {
vertical-align: top;
}

.Header {
width: 760;
height: 100px;
padding: 0px; 
background: transparent;
}

.MenuColTD {
width: 190px;
background: url('menu_right_border.gif') transparent 170px top no-repeat;
color: inherit;
font: normal 13px arial,sans-serif;
text-align: left;
}

.Menu {
margin: 20px 20px 10px 20px;
}

.Menu A {
width: 125px;
}

.FIX_FIREFOX {}
html:not([dummy]) .Menu A {
width: 115px;
}
.FIX_OPERA {}
@media all and (min-width: 0px) {
.Menu A {width: 115px;}
}

.Menu A:link, .Menu A:visited, .Menu A:active {
display: block;
height: 19px;
text-align: left;
font-weight: bold;
margin-bottom: 5px;
padding-left: 10px;
color: aquamarine;
background-image: url('menu_button.jpg');
background-repeat: repeat-x;
background-position: center 0px;
filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity:0.7;
border-top: 1px solid #567E77;
border-bottom: 1px solid #567E77;
}

.Menu A:hover {
background-repeat: repeat-x;
background-position: center 0px;
filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}

.Content {
width: 570px;
background: transparent;
color: inherit;
text-align: justify;
}

.Content A:link {background: none; color: #98E4DA; text-decoration: none; cursor: pointer;}
.Content A:visited {background: none; color: #98E4DA; text-decoration: none; cursor: pointer;}
.Content A:hover {background: none; color: #98E4DA; text-decoration: underline; cursor: pointer;}
.Content A:active { background: none; color: #98E4DA; background: none; cursor: pointer;}

.HeadingStyle {
background: inherit;
color: aliceblue;
font: bold italic 20px arial,sans-serif;
}

P {
font: 13px arial,sans-serif;
padding-right: 10px;
}

.Padded {
padding: 20px;
}

.SmallFont {
font: 13px arial,sans-serif;
}

.MedFontBold {
FONT: bold 15px arial,sans-serif;
}

.SmallFont TD {
font: 13px arial,sans-serif;
}

.MedFontBold TD {
font: bold 15px arial,sans-serif;
}

.Footer {
color: inherit;
font: 13px arial,sans-serif;
height: 24px;
text-align: center;
vertical-align: top;
background: url('footer.jpg');
}

.FooterWrap {
font-style: italic;
margin-top: 3px;
margin-left: 10px;
margin-right: 10px;
}

.Copyright {
margin-left: 50px;
}

.Wrapper {
background-image: url('footer2.jpg');
background-position: center bottom;
background-repeat: no-repeat;
}

.twitter{
position: absolute; 
top: 10px; 
right: 10px; 
width: 250px; 
height: 300px; 
}
