<div data-theme="a" data-role="header">
  <a data-role="button" id="back-from-newunit" data-icon="arrow-l"
  data-iconpos="left" class="ui-btn-left">
	  Tilbake
  </a>
  <h3>
	  Ny enhet
  </h3>
</div>
<div data-role="content">
  <div data-role="fieldcontain">
	  <label for="name">
		  Navn
	  </label>
	  <input name="" id="name" placeholder="" value="" type="text">
  </div>
</div>
<div data-role="tabbar" data-iconpos="left" data-theme="a">
  <ul>
	  <li>
		  <a id="create" data-transition="fade" data-theme="" data-icon="check">
			  Lagre
		  </a>
	  </li>
  </ul>
</div>