<div data-theme="a" data-role="header">
  <h2>
	  Velg kontakt
  </h2>
  <a data-role="button" id="back-from-select-contact" data-icon="arrow-l"
  data-iconpos="left" class="ui-btn-left">
	  Tilbake
  </a>
</div>
<div data-role="content">
  <ul data-role="listview" data-divider-theme="b" data-inset="true" id="contact-list" >
	  <li data-role="list-divider" role="heading">
		  Kontaktliste
	  </li>	
  </ul>
</div>
<div data-role="tabbar" data-iconpos="left" data-theme="a">
  <ul>
	  <li>
		  <a id="create-contact" data-transition="fade" data-theme="" >
			  Opprett kontakt
		  </a>
	  </li>
  </ul>
</div>